<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moming.jml.starmovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:launchMode="singleTop">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MovieDetailActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <service android:name=".sync.MovieSyncIntentService"
            android:exported="false">

        </service>
        <service android:name=".sync.MovieFirebaseJobService"
            android:exported="false">

        </service>
        <provider
            android:authorities="com.moming.jml.starmovie"
            android:name="com.moming.jml.starmovie.data.MovieProvider"
            android:exported="false"></provider>
    </application>


</manifest>